<div *ngIf="user" class="profile-container">
    <div class="header-row">
        <h1 i18n="@@mySpaceHeader">Mon Espace</h1>

      <!-- Actions CONDUCTEUR -->
      <div class="top-actions" *ngIf="user.role === 'CONDUCTEUR'">
        <button routerLink="/create-ride" class="btn-create">
          <span class="icon">+</span> Créer un trajet
        </button>
        <button routerLink="/my-rides" class="btn-view">
          Voir mes trajets
        </button>
      </div>

      <!-- Actions PASSAGER -->
      <div class="top-actions" *ngIf="user.role === 'PASSAGER'">
        <button routerLink="/search-ride" class="btn-create">
          🔎 Rechercher une course
        </button>
        <button routerLink="/my-reservations" class="btn-view">
          Mes réservations
        </button>
        <button routerLink="/completed-rides" class="btn-view">
          Voir mes courses effectuées
        </button>
      </div>

    </div>

    <div class="card points-card">
        <h2 i18n="@@pointsBalanceHeader">💰 Solde de points</h2>
        <p class="points-value">{{ user.pointBalance }} <span i18n="@@pointsUnit">pts</span></p>
    </div>

    <div class="card info-card">
        <h2 i18n="@@myInfoHeader">👤 Mes Informations</h2>

        <div *ngIf="!isEditing">
            <p><strong i18n="@@firstNameLabel">Prénom :</strong> {{ user.firstname }}</p>
            <p><strong i18n="@@lastNameLabel">Nom :</strong> {{ user.lastname }}</p>
            <p><strong i18n="@@emailLabel">Email :</strong> {{ user.email }}</p>
            <p><strong i18n="@@roleLabel">Statut :</strong> {{ user.role }}</p>

            <button (click)="isEditing = true" class="btn-edit" i18n="@@editProfileBtn">
                Modifier mon profil
            </button>
        </div>

        <div *ngIf="isEditing">
            <label>
                <span i18n="@@firstNameLabel">Prénom :</span>
                <input [(ngModel)]="user.firstname">
            </label>
            <label>
                <span i18n="@@lastNameLabel">Nom :</span>
                <input [(ngModel)]="user.lastname">
            </label>
            <label>
                <span i18n="@@roleLabel">Statut :</span>
            </label>
            <select [(ngModel)]="user.role" name="role">
                <option *ngFor="let r of roles" [value]="r">{{ r }}</option>
            </select>

            <div style="display: flex; gap: 10px; margin-top: 15px;">
                <button (click)="saveProfile()" class="btn-create" style="margin:0">Enregistrer</button>
                <button (click)="isEditing = false" class="btn-cancel" style="margin:0">Annuler</button>
            </div>
        </div>

        <p class="success" *ngIf="successMessage">{{ successMessage }}</p>
    </div>

    <button class="logout-btn" (click)="logout()" i18n="@@logoutBtn">Se déconnecter</button>
</div>
