<div class="register-container">
    <h2 i18n="@@createAccountHeader">Créer un compte</h2>

    <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
        <div *ngIf="errorMessage" style="color: red; margin-bottom: 10px; font-weight: bold;">
            {{ errorMessage }}
        </div>

        <div *ngIf="successMessage" style="color: green; margin-bottom: 15px; padding: 10px; background-color: #e6ffe6; border: 1px solid green; border-radius: 4px; font-weight: bold;">
            {{ successMessage }}
        </div>

        <div class="form-group">
            <label for="firstname" i18n="@@firstNameLabel">Prénom</label>
            <input
                    type="text"
                    id="firstname"
                    name="firstname"
                    [(ngModel)]="user.firstname"
                    required
                    placeholder="Votre prénom"
                    i18n-placeholder="@@firstNamePlaceholder"> </div>

        <div class="form-group">
            <label for="lastname" i18n="@@lastNameLabel">Nom</label>
            <input
                    type="text"
                    id="lastname"
                    name="lastname"
                    [(ngModel)]="user.lastname"
                    required
                    placeholder="Votre nom"
                    i18n-placeholder="@@lastNamePlaceholder">
        </div>

        <div class="form-group">
            <label for="email" i18n="@@emailLabel">Email</label>
            <input
                    type="email"
                    id="email"
                    name="email"
                    [(ngModel)]="user.email"
                    required
                    email
                    placeholder="exemple@email.com"
                    i18n-placeholder="@@emailPlaceholder">
        </div>

        <div class="form-group">
            <label for="password" i18n="@@passwordLabel">Mot de passe</label>
            <input
                    type="password"
                    id="password"
                    name="password"
                    [(ngModel)]="user.password"
                    required
                    minlength="6"
                    placeholder="Mot de passe sécurisé"
                    i18n-placeholder="@@passwordPlaceholder">
        </div>

        <button type="submit" [disabled]="!registerForm.form.valid" i18n="@@registerBtn">S'inscrire</button>

    </form>

    <p>
        <span i18n="@@alreadyAccountQuestion">Déjà un compte ?</span>
        <a routerLink="/login" i18n="@@loginLink">Se connecter</a>
    </p>
</div>