<div class="messaging">
  <div class="sidebar">
    <h3>Conversations</h3>

    <div *ngIf="(conversations$ | async) as conversations">
      <button
        class="conv"
        *ngFor="let c of conversations; trackBy: trackByConversationId"
        (click)="selectConversation(c)"
        [class.active]="selectedConversation?.id === c.id"
      >
        <div class="title">{{ c.otherUserName }}</div>
        <div class="meta" *ngIf="c.unreadCount > 0">
          {{ c.unreadCount }} non lu(s)
        </div>
      </button>
    </div>
  </div>

  <div class="content">
    <ng-container *ngIf="selectedConversation as sc; else noConv">
      <div class="header">
        <div>
          <div class="h-title">{{ sc.otherUserName }}</div>
          <div class="h-sub" *ngIf="sc.trajetId">Trajet #{{ sc.trajetId }}</div>
        </div>
      </div>

      <div class="messages" *ngIf="(messages$ | async) as msgs">
        <div class="msg" *ngFor="let msg of msgs; trackBy: trackByMessageId">
          <div class="text-xs opacity-70">{{ msg.senderName }}</div>
          <div class="bubble">{{ msg.content }}</div>
          <div class="text-xs opacity-70">{{ msg.createdAt | date:'shortTime' }}</div>
        </div>
      </div>

      <div class="composer">
        <input
          type="text"
          [(ngModel)]="newMessage"
          placeholder="Écrire un message..."
          (keyup.enter)="send()"
        />
        <button (click)="send()">Envoyer</button>
      </div>
    </ng-container>

    <ng-template #noConv>
      <div class="empty">Sélectionne une conversation.</div>
    </ng-template>
  </div>
</div>
