<div class="toast-container">
    <div *ngFor="let toast of toasts"
         class="toast"
         [class.toast--success]="toast.type === 'success'"
         [class.toast--error]="toast.type === 'error'"
         [class.toast--info]="toast.type === 'info'"
         [class.toast--warning]="toast.type === 'warning'">

        <div class="toast__icon">
            <span>{{ toast.icon }}</span>
        </div>

        <div class="toast__content">
            <p class="toast__title">{{ toast.title }}</p>
            <p class="toast__message">{{ toast.message }}</p>
        </div>

        <button class="toast__close" (click)="dismiss(toast.id)">&times;</button>

        <div class="toast__progress" [style.animation-duration.ms]="toast.duration"></div>
    </div>
</div>
