<div class="login-container">
    <h2 i18n="@@loginHeader">Connexion</h2>

    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label i18n="@@emailLabel">Email</label>
            <input type="email" [(ngModel)]="credentials.email" name="email" required placeholder="exemple@email.com">
        </div>

        <div class="form-group">
            <label i18n="@@passwordLabel">Mot de passe</label>
            <input type="password" [(ngModel)]="credentials.password" name="password" required placeholder="Votre mot de passe">
        </div>

        <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>

        <button type="submit" i18n="@@loginBtn">Se connecter</button>
    </form>

    <p>
        <span i18n="@@noAccountQuestion">Pas encore de compte ?</span>
        &nbsp;<a routerLink="/register" i18n="@@registerLink">S'inscrire</a>
    </p>
</div>