<div class="login-container">
    <h2 i18n="@@loginHeader">Connexion</h2>

    <form (ngSubmit)="onSubmit()">
        <div>
            <label i18n="@@emailLabel">Email</label>
            <input type="email" [(ngModel)]="credentials.email" name="email" required>
        </div>
        <div>
            <label i18n="@@passwordLabel">Mot de passe</label>
            <input type="password" [(ngModel)]="credentials.password" name="password" required>
        </div>

        <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>

        <button type="submit" i18n="@@loginBtn">Se connecter</button>
    </form>

    <p>
        <span i18n="@@noAccountQuestion">Pas encore de compte ?</span>
        <a routerLink="/register" i18n="@@registerLink">S'inscrire</a>
    </p>
</div>