<section id="avantages" class="advantages">
  <div class="advantages__glow advantages__glow--top"></div>
  <div class="advantages__glow advantages__glow--bottom"></div>

  <div class="advantages__container">
    <div class="advantages__header">
      <p class="advantages__label">{{ 'LANDING.ADVANTAGES_LABEL' | translate }}</p>
      <h2 class="advantages__title">{{ 'LANDING.ADVANTAGES_TITLE_1' | translate }} <span class="advantages__title-accent">{{ 'LANDING.ADVANTAGES_TITLE_2' | translate }}</span></h2>
    </div>

    <div class="advantages__grid">
      <div
        *ngFor="let advantage of advantages; let i = index; trackBy: trackByIndex"
        class="advantages__card"
        [style.animation-delay]="(i * 100) + 'ms'"
      >
        <div class="advantages__stat-block">
          <div class="advantages__stat-value" [style.color]="advantage.statColor">{{ advantage.stat }}</div>
          <div class="advantages__stat-label">{{ advantage.statLabelKey | translate }}</div>
        </div>

        <h3 class="advantages__card-title">{{ advantage.titleKey | translate }}</h3>
        <p class="advantages__card-description">{{ advantage.descriptionKey | translate }}</p>
      </div>
    </div>
  </div>
</section>
