@import 'leaflet/dist/leaflet.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "variables";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply h-full antialiased;
  }

  body {
    @apply bg-gray-50 text-slate-900 dark:bg-slate-900 dark:text-slate-100 transition-colors duration-300;
    font-family: 'Inter', sans-serif;
    background-color: #f3f4f6;
    margin: 0;
  }
}

input, select, textarea {
  font-family: inherit;
  color: #1f2937 !important;
}

.alert {
  padding: 10px;
  border-radius: 6px;
  font-weight: bold;
  margin-bottom: 10px;

  &.error {
    color: $danger;
    background-color: lighten($danger, 42%);
    border: 1px solid $danger;
  }

  &.success {
    color: darken($success, 10%);
    background-color: lighten($success, 48%);
    border: 1px solid darken($success, 10%);
  }
}

/* Scrollbar jolie */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c7c7c7;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}